body {
    background-color: #F5C26B;
    margin: 0;
}

.kongz {
    width: 35%;
    height: 55%;
    position:absolute;
}

#kong13860 {
    bottom: 0px;
    right: 0px;
    
}

#kong10199 {
    bottom: 0px;
    left: 0px;
}

#rollButton {
    
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.middle {
    text-align: center;
}

.prize {
    margin-top: 25px;
    font-size: 35px;
    font-family:'Readex Pro', sans-serif;
    padding-bottom: 20px;
}

header {
    background-color: orange;
    height:100px;
}

#nftImage {
    max-width: 300px;
    max-height: 300px;
    width: 50%;
    height: auto;
    border-style: solid;
    border-width: 4px;
    background-color: skyblue;
}

.navigationbar {
    font-family:'Readex Pro', sans-serif;
    font-size: 20px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    
}

a:visited, a:link {
    color: white;
}

table a:visited, a:link {
    color: black;
}

a:hover {
    color:black;
}

nav a {
    text-transform: uppercase;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    top: 36px;
    border-radius: 5px;
    position: relative;
    margin-left: 10%;
}

nav a::before {
    display:block;
    content:"";
    height: 5px;
    width: 0%;
    position: relative;
    background-color: yellow;   

    position: absolute;
    bottom: -39px;

    transition: ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

#buttonPic {
    width: 100px;
}

#insertTicket {
    font-family:'Readex Pro', sans-serif;
    font-size: 30px;
    margin: 0;
}

.ticketButton {
    -webkit-animation: breathing 3s ease-out infinite normal;
    animation: breathing 3s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;    
    }

#speech {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 25%;

}

#speech3 {
    position: absolute;
    left: 5%;
    top: 15%;
    width: 25%;

}

#logo {
    width: 250px;
    height: auto;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
}

th, td {
    padding: 10px;
    border-style: solid;
}

table {
    border-collapse: collapse;
    font-family:'Readex Pro', sans-serif;
    padding: 10px;
    width: 60%;
}



@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


thead th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e6f7ff;
}
  
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px; /* Added margin-top */
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  
@media (max-width: 767px) {
    .mobileView {
      display: none;
    }

    .navigationbar {
        font-size: 12px;
    }

    #prize {
        font-size: 20px;
    }

    #logo {
        width: 150px;
        margin-left: 10px;
    }

    nav a::before {
        display: none;
    }

    nav li {
        margin-left: 15px;
        top: 28px;
    }
    header {
        height: 70px;
    }

    #nftImage {
        max-width: 200px;
        max-height: 200px;
    }

    #insertTicket {
        font-size: 20px;
    }

    table {
        width: 100%;

    }
}